.App {
  text-align: center;
}

.listItems {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: teal;
  color: white;
  box-shadow: 5px 5px 0 grey;
}

li{
  list-style-type: none;
  width: 20%;
}