.App {
  text-align: center;
}

.listItems {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: teal;
  color: white;
  box-shadow: 5px 5px 0 grey;
}

li{
  list-style-type: none;
  width: 20%;
}

.customNavBar{
  display: flex;
  background-color:rgb(9, 72, 51);
  color: white;
  padding: 20px;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

.navbar > div{
  cursor: pointer;
}

.city{
  box-shadow: 1px 1px 1px grey;
  margin-top: 15px !important;
  margin-right: 5px !important ;
}

img{
  width: 100%;
  height: 250px;
}

.customFooter{
  background-color: azure;
  border-top: 1px solid black;
  margin-top: 10px;
}